<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <h1>Edit article</h1>
    <%= render 'form' %>
    <%= link_to "Cancel and return to articles listing", articles_path %>
  </body>
</html>