<h1 class="text-center mt-4">Listing all articles</h1>
<%= render 'article' %>
<div class="row justify-content-md-center">
  <%= link_to 'Create new article', new_article_path, class:"btn btn-primary", style: "width: 16%; margin-bottom: 20px" %>
</div>