<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
    <h1>This is the about page!</h1>
    <%= link_to 'Articles listing', articles_path %>
    <%= link_to 'Home page', root_path %>
  </body>
</html>